/* MARIO ANDREI 180gr Bowtie Theme*/

body {
	-webkit-transition: 0.5s ease-out;	
	
}

.container {
	width: 400px;
	height: 180px;
	//overflow: hidden;
	//border-radius: 5px;
	//box-shadow:0 0 8px #000000;
	//background-color: rgb(92,222,22);
	//background-color: rgba(92,222,22,255);
	text-overflow: ellipsis;

	
}

#vinyl{
	background-color: red;
	box-shadow:0 0 8px #000000;
}

.biopic{
	display: block;
	width: 180px;
	height: 180px;
	border-radius: 30px;
	background-color: yellow;
	text-align: center;
}

.liner_notes{
	background-color: black;
	display: block;
	height: 180px;
	width: 180px;
	position: absolute;
	top: 0px;
	left:10px;
}

.clear{
	clear: left;
}

#artistpic{
			border-radius: 50%;
	margin: 40px;

	display: block;
	height: 100px;
	width: 100px;
	float: right;
		box-shadow:0 0 8px #000000;
}
#text{
	//display: block;
	height: 30px;
	width: 200px;
	float: left;
	color: black;
	position: absolute;
	top: 145px;
	left: 240px;

}
#art{
	display: block;
		box-shadow:0 0 8px #000000;

	//height: 80px;
	//width: 80px;
	//background-color: blue;
	float: left;
	}

